.video-box {
  position: relative;
  width: 100%;
  aspect-ratio: 16 / 9;
  overflow: hidden;
}

.video-frame {
  width: 100%;
  height: 100%;
  border: 0;
}

/* transparent layer blocking iframe hover */
.video-overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.15); /* transparent overlay */
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 2;
}

/* play icon */
.play-button {
  width: 72px;
  height: 72px;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 50%;
  position: relative;
}

.play-button::before {
  content: "";
  position: absolute;
  left: 28px;
  top: 20px;

  width: 0;
  height: 0;

  border-top: 16px solid transparent;
  border-bottom: 16px solid transparent;
  border-left: 24px solid white;
}
