@import "tailwindcss";

@font-face {
  font-family: 'Monument Extended';
  src: url('/fonts/MonumentExtended-Regular.woff2') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Monument Extended';
  src: url('/fonts/MonumentExtended-Ultrabold.woff2') format('opentype');
  font-weight: bold;
  font-weight: bold;
  font-style: normal;
}

.font-monument {
  font-family: 'Monument Extended', sans-serif;
}


html,
body {
  margin: 0;
  padding: 0;
}


/* Ensure course containers inherit dot background */
.os-container,
.ls-container {
  background: transparent !important;
}

.os-content,
.ls-content {
  background: transparent !important;
}

/* Remove dot background from course unit pages */
.no-dot-background {
  background: #FFFFFF !important;
  background-image: none !important;
}