@import "tailwindcss";

@font-face {
  font-family: 'Monument Extended';
  src: url('/fonts/MonumentExtended-Regular.woff2') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Monument Extended';
  src: url('/fonts/MonumentExtended-Ultrabold.woff2') format('opentype');
  font-weight: bold;
  font-weight: bold;
  font-style: normal;
}

.font-monument {
  font-family: 'Monument Extended', sans-serif;
}


html,
body {
  margin: 0;
  padding: 0;
}


/* Ensure course containers inherit dot background */
.os-container,
.ls-container {
  background: transparent !important;
}

.os-content,
.ls-content {
  background: transparent !important;
}

/* Remove dot background from course unit pages */
.no-dot-background {
  background: #FFFFFF !important;
  background-image: none !important;
}

/* Hide scrollbar but keep scrolling */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Simple scrollbar for entire site */

::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar-track {
  background: #0f172a; /* track color */
}

::-webkit-scrollbar-thumb {
  background: #E65D25; /* scrollbar color */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #64748b;
}